{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "List of actors" %}{% endblock %}
{% block page_title %}{% translate "List of actors" %}{% endblock %}

{% block content %}
<ul>
  {% for actor in actors_list %}
  <li>
	<a href="{% url 'scenery:actor' actor.id %}">{{ actor }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
