<h1>{{ place.name }}</h1>
<dl>
  <dt>Latitude</dt>
  <dd>{{ place.latitude }}</dd>
  <dt>Longitude</dt>
  <dd>{{ place.longitude }}</dd>

  <dt>Databases</dt>
  <dd>
	<ul>
	  {% if actor.viaf_id %}
	  <li><a href="https://viaf.org/viaf/{{actor.viaf_id}}">viaf.org</a></li>
	  {% endif %}
	  {% if actor.ppn %}
	  <li><a href="https://idref.fr/{{actor.ppn}}">IdRef</a></li>
	  {% endif %}
	  {% if actor.ark %}
	  <li><a href="https://data.bnf.fr/ark:/{{actor.ark}}">Bibliothèque Nationale de France</a></li>
	  {% endif %}
	</ul>
  </dd>
  <dt>Sources</dt>
  <dd>{{ actor.data_sources | linebreaks }}</dd>
