{% load i18n %}

<section class="details">
  <h3>{% translate "Details" %}</h3>
  <dl>
    {% if actor.name %}
      <dt>{% translate "Name" %}</dt>
      <dd>{{ actor.name }}</dd>
    {% endif %}
    {% if actor.given_name %}
      <dt>{% translate "Given name" %}</dt>
      <dd>{{actor.given_name}}</dd>
    {% endif %}
    {% if actor.family_name %}
      <dt>{% translate "Family name" %}</dt>
      <dd>{{actor.family_name}}</dd>
    {% endif %}
    {% if actor.birth_data %}
      <dt>{% translate "Birth" %}</dt>
      <dd>{{ actor.birth_date }}</dd>
    {% endif %}
    {% if actor.death_date %}
      <dt>{% translate "Death" %}</dt>
      <dd>{{ actor.death_date }}</dd>
    {% endif %}
    <dt>{% translate "Databases" %}</dt>
    <dd>
      {% if not actor.viaf_id and not actor.ppn and not actor.ark %}
        {% translate "No database link found" %}
      {% endif %}
      <ul>
        {% if actor.viaf_id %}
          <li><a href="https://viaf.org/viaf/{{actor.viaf_id}}">viaf.org</a></li>
        {% endif %}
        {% if actor.ppn %}
          <li><a href="https://idref.fr/{{actor.ppn}}">IdRef</a></li>
        {% endif %}
        {% if actor.ark %}
          <li><a href="https://data.bnf.fr/ark:/{{actor.ark}}">Bibliothèque Nationale de France</a></li>
        {% endif %}
      </ul>
    </dd>
    <dt>Sources</dt>
    <dd>{{ actor.data_sources.strip | linebreaks }}</dd>
  </dl>
</section>
