{% load i18n %}
{% if attribution.author %}
  {% translate "Author:" %}
  <a href="{% url 'works:actor' attribution.author.id %}">{{ attribution.author }}</a>
{% else %}
  {% translate "Printer:" %}
  <a href="{% url 'works:actor' attribution.printer.id %}">{{ attribution.printer }}</a>
{% endif %}
{% if attribution.designation or attribution.attributor or attribution.notes %}
  ({% if attribution.designation %}{% translate "Designated as" %}
  "{{ attribution.designation }}"{% endif %}{% if attribution.designation and attribution.attributor %}
  - {% endif %}{% if attribution.attributor %}{% translate "According to" %}
    {{ attribution.attributor }}{% endif %}{% if attribution.designation and attribution.notes or attribution.attributor and attribution.notes %}
   - {% endif %}{{ attribution.notes }})
    {% endif %}
