{% load i18n %}

<section class="details">
  <h3>{% translate "Details" %}</h3>
  <dl>
    {% if corpus.composition_date %}
      <dt>{% translate "Date of first composition" %}</dt>
      <dd>{{corpus.composition_date}}</dd>
    {% endif %}
    {% if corpus.place %}
      <dt>{% translate "Place of origin" %}</dt>
      <dd><a href="{% url 'scenery:place' corpus.place.id %}">{{ corpus.place }}</a></dd>
    {% endif %}
    {% if corpus.inspired.count > 0 %}
      <dt>{% translate "Other corpuses inspired by this one" %}</dt>
      <dd>
	<ul>
      {% for other_corpus in corpus.inspired.all %}
	  <li><a href="{% url 'works:corpus' other_corpus.id %}">{{ other_corpus }}</a></li>
	  {% endfor %}
	</ul>
  </dd>
  {% endif %}
  </dl>
</section>
