{% load i18n %}

<section class="details">
  <h3>{% translate "Details" %}</h3>
  <dl>
    <dt>{% translate "Authors" %}</dt>
    <dd>
      {% if 0 == title.authors.count %}
        {% translate "No identified author" %}
          <a class="btn" href="{% url 'admin:works_title_change' title.id %}">
            {% translate "Edit" %}
          </a>
        {% else %}
          <ul>
          {% for attribution in title.attribution_set.all %}
            {% if attribution.author %}
              <li>
                {% include 'works/part/attribution_detail.html' with attribution=attribution %}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
    </dd>
    <dt>{% translate "Printers" %}</dt>
    <dd>
      {% if 0 == title.printers.count %}
        {% translate "No identified printer" %}
          <a class="btn" href="{% url 'admin:works_title_change' title.id %}">
            {% translate "Edit" %}
          </a>
        {% else %}
          <ul>
          {% for attribution in title.attribution_set.all %}
            {% if attribution.printer %}
              <li>
                {% include 'works/part/attribution_detail.html' with attribution=attribution %}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% endif %}
    </dd>
    {% if title.place %}
      <dt>{% translate "Place of printing" %}</dt>
      <dd><a href="{% url 'scenery:place' title.place.id %}">{{ title.place }}</a></dd>
    {% endif %}
    {% if title.print_date %}
      {% if title.tempus_ante_quem and title.tempus_ante_quem != title.print_date %}
        <dt>{% translate "Tempus post quem" %}</dt>
      {% else %}
        <dt>{% translate "Date of printing" %}</dt>
      {% endif %}
      <dd>{{title.print_date}}</dd>
    {% endif %}
    {% if title.tempus_ante_quem and title.tempus_ante_quem != title.print_date %}
      <dt>{% translate "Tempus ante quem" %}</dt>
      <dd>{{title.tempus_ante_quem}}</dd>
    {% endif %}
    {% if title.dimensions %}
      <dt>{% translate "Dimensions" %}</dt>
      <dd>{{ title.dimensions }}</dd>
    {% endif %}
    {% if title.notes %}
      <section class="notes">
        <h4>{% translate "Notes" %}</h4>
        {{ title.notes|linebreaks }}
      </section>
    {% endif %}
    <dt>{% translate "Databases" %}</dt>
    <dd>
      {% if not title.istc_id and not title.dishas_id and not title.gw_id %}
        {% translate "No database link found" %}
      {% endif %}
      <ul>
        {% if title.istc_id %}
          <li>
            {% translate "Incunabala Short Title Catalogue" %}
              <a href="https://data.cerl.org/istc/{{title.istc_id}}">{{ title.istc_id }}</a>
          </li>
        {% endif %}
        {% if title.gw_id %}
          <li>
            {% translate "Gesamtkatalog der Wiegendrucke" %}
              <a href="https://www.gesamtkatalogderwiegendrucke.de/docs/GW0{{title.gw_id}}.htm">{{ title.gw_id }}</a>
          </li>
        {% endif %}
        {% if title.dishas_id %}
          <li>
            {% translate "Dishas's database identifier" %}
              {{ title.dishas_id }}
          </li>
        {% endif %}
      </ul>
    </dd>
    <dt>Sources</dt>
    <dd>{{ title.data_sources.strip | linebreaks }}</dd>
  </dl>
</section>
