{% load i18n %}

{% if title.print_date %}
  <span style="font-weight:bold">{{ title.print_date }} -</span>
{% endif %}
{% for author in title.authors.all %}
  {{ author }},
{% endfor %}
<em>{{ title.name }}</em>{% for printer in title.printers.all %}.
{{ printer }}{% endfor %}{% if title.place %}: {{ title.place }}{% endif %}.

{% if "sources" == link_to %}
  <a href="{% url 'sources:title' title.id %}">{% translate "Details" %}</a>
{% else %}
  <a href="{% url 'works:title' title.id %}">{% translate "Details" %}</a>
{% endif %}
