<ul>
  {% for astronomical_object in objects_list %}
  <li>
    <h2>{{ astronomical_object }}</h2>
    <ul>
      {% for table_type in astronomical_object.tabletype_set.all %}
      <li><a href="{% url 'astronomical_contents:type' table_type.id %}">{{table_type}}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
  {% if alone_types %}
  <li>
    <h2>No astronomical object</h2>
    <ul>
      {% for table_type in alone_types %}
      <li><a href="{% url 'astronomical_contents:type' table_type.id %}">{{table_type}}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
</ul>
