
<h1>{{ tabletype }}</h1>
<dl>
  {% if tabletype.name %}
  <dt>Name</dt>
  <dd>{{ tabletype.name }}</dd>
  {% endif %}
  {% if tabletype.dishas_name %}
  <dt>Dishas' name</dt>
  <dd>{{ tabletype.dishas_name }}</dd>
  {% endif %}
  <dt>Databases</dt>
  <dd>
    {% if not tabletype.dishas_id %}
    No database link found
    {% endif %}
    <ul>
      {% if tabletype.dishas_id %}
      <li><a href="https://dishas.obspm.fr/table-type/{{table_type.dishas_id}}">Dishas</a></li>
      {% endif %}
    </ul>
  </dd>
  <dt>Sources</dt>
  <dd>{{ tabletype.data_sources | linebreaks }}</dd>
</dl>

{% include 'astronomical_contents/table_exemple.html' with tabletype=tabletype %}
