{% if tabletype.table_edition %}
{% with exemple_content=tabletype.get_exemple_content %}
<h2>Exemple computed by {{ exemple_content.editor }}</h2>
<table>
  <thead>
    <tr>
      {% for arg in exemple_content.template.args %}
      <th colspan="{{ arg.ncells }}">{{ arg.name }}</th>
      {% endfor %}
      {% for entry in exemple_content.template.entries %}
      <td colspan="{{ entry.ncells }}">{{ entry.name }}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in exemple_content.data %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
{% endif %}
