{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ actor }}{% endblock %}
{% block page_title %}{% translate "Bibliography of an actor" %}{% endblock %}
{% block nav %}<a href="{% url 'works:index' %}">{% translate "Back to index" %}</a>{% endblock %}

{% block content %}
  {% include 'scenery/part/actor_detail.html' with actor=actor %}
  <article>
    <header>
      <h2>{% translate "Bibliography" %}</h2>
    </header>
    {% if actor.alledged_author.count > 0 %}
      <section>
        <h3>{% translate "Author" %}</h3>
        <ul>
        {% for attribution in actor.alledged_author.all %}
          <li>
            <dl>
              <dt>
                {% include 'works/part/title_element.html' with title=attribution.title %}
              </dt>
              <dd>
                {% include 'works/part/attribution_detail.html' with attribution=attribution %}
              </dd>
          </li>
        {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% if actor.alledged_printer.count > 0 %}
    <section>
      <h3>{% translate "Printer" %}</h3>
      <dl>
      {% for attribution in actor.alledged_printer.all %}
          <dt>
            {% include 'works/part/title_element.html' with title=attribution.title %}
          </dt>
          <dd>
            {% translate "Designated as" %}
            '{{ attribution.designation }}'
            {% translate "by" %} {{attribution.attributor}}
          </dd>
      {% endfor %}
      </ul>
    </section>
  {% endif %}
  </article>
{% endblock %}
