{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Titles by corpus" %}{% endblock %}
{% block page_title %}{% translate "Titles by corpus" %}{% endblock %}

{% block content %}
  <ul>
    {% for corpus in corpuses_list %}
      <li>
        <h2>
          {{ corpus }}
        </h2>
        <a href="{% url 'works:corpus' corpus.id %}">&gt{% translate "Details" %}</a>
        <ol>
          {% for title in corpus.titles.all %}
          <li>
            {% include 'works/part/title_element.html' with title=title %}
          </li>
          {% endfor %}
        </ol>
      </li>
    {% endfor %}
    <li>
      <h2>{% translate "Orphan titles" %}</h2>
      <ol>
        {% for title in alone_titles.all %}
          <li>
            {% include 'works/part/title_element.html' with title=title %}
          </li>
        {% endfor %}
      </ol>
    </li>
  </ul>
{% endblock %}
