{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ corpus.name }}{% endblock %}
{% block page_title %}{{ corpus.name }}{% endblock %}

{% block nav %}<a href="{% url 'works:index' %}">{% translate "Return to the index" %}</a>{% endblock %}

{% block content %}
  {% include 'works/part/corpus_detail.html' with corpus=corpus %}
  <h2>{% translate "Titles included in this corpus"%}</h2>
  {% if 0 == corpus.titles.count %}
    {% translate "None" %}
    {% else %}
      <ol>
        {% for title in corpus.titles.all %}
          <li>
            {% include 'works/part/title_element.html' with title=title %}
          </li>
        {% endfor %}
      </ol>
    {% endif %}
{% endblock %}
