{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css'%}"/>
    <title>{% block page_title %}{% endblock %}</title>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>
    <header>
      <nav>
        {% block nav %}{% endblock %}
      </nav>
      <div>
        <h1>{% block title %}{% endblock %}</h1>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <section>
        <h3>{% translate "About" %}</h3>
        <a href="https://framagit.org/Catgolin/pat-explorer">
          {% translate "Source code and documentation" %}
        </a>
      </section>
      <section>
        <h3>{% translate "Language" %}</h3>
        <!-- Sample from:
             https://docs.djangoproject.com/en/4.2/topics/i18n/translation/
             -->
             <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
               <input name="next" type="hidden" value="{{ redirect_to }}">
                 <select name="language">
                   {% get_current_language as LANGUAGE_CODE %}
                   {% get_available_languages as LANGUAGES %}
                   {% get_language_info_list for LANGUAGES as languages %}
                   {% for language in languages %}
                     <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                       {{ language.name_local }} ({{ language.code }})
                     </option>
                   {% endfor %}
                 </select>
                 <input type="submit" value="Go">
             </form>
      </section>
    </footer>
  </body>
</html>
