{% load i18n %}

{{ witness }}
{% if witness.iiif_manifest %}
  <a class="tag" href="https://dishas.obspm.fr/alfa/mirador?manifest={{ witness.iiif_manifest }}">
    {% translate "IIIF link" %}
  </a>
{% endif %}
{% if witness.url %}
  <a class="tag" href="{{ witness.url }}">
    {% translate "URL" %}
  </a>
{% endif %}
{% if witness.urn %}
  <a class="tag"
     href="https://nbn-resolving.org/process-urn-form?identifier={{ witness.urn }}&verb=REDIRECT">
     {% translate "URN" %}
  </a>
{% endif %}
{% if "edition" == link_to %}
  <a href="{% url 'edition:witness' witness.id %}">
    {% translate "See details" %}
  </a>
{% else %}
  <a href="{% url 'sources:witness' witness.id %}">
    {% translate "See details" %}
  </a>
{% endif %}
