{% load i18n %}

<section class="details">
  <h3>{% translate "Details" %}</h3>
  <dl>
    {% if witness.name %}
      <dt>{% translate "Source's name" %}</dt>
      <dd>{{witness.name}}</dd>
    {% endif %}
    {% if witness.title %}
      <dt>{% translate "Source of:" %}</dt>
      <dd>{% include 'works/part/title_element.html' with title=witness.title link_to=link_to %}</dd>
    {% endif %}
    <dt>{% translate "Holding site:" %}</dt>
    <dd>
      {% if witness.library %}
        {% include 'source_materials/part/library_element.html' with library=witness.library %}
      {% else %}
        {% translate "Unspecified" %}
          <a href="{% url 'admin:source_materials_witness_change' witness.id %}">
            Edit
          </a>
        {% endif %}
    </dd>
    {% if witness.shelf_mark %}
      <dt>{% translate "Shelf mark:" %}</dt>
      <dd>{{ witness.shelf_mark }}</dd>
    {% endif %}
    {% if witness.catalog_url %}
      <dt>{% translate "Catalog URL" %}</dt>
      <dd><a href="{{witness.catalog_url}}">{{witness.catalog_url}}</a></dd>
    {% endif %}
    {% if witness.url %}
      <dt>{% translate "URL" %}</dt>
      <dd><a href="{{witness.url}}">{{witness.url}}</a></dd>
    {% endif %}
    {% if witness.urn %}
      <dt>{% translate "URN" %}</dt>
      <dd><a href="https://nbn-resolving.org/process-urn-form?identifier={{witness.urn}}&verb=REDIRECT">{{witness.urn}}</a></dd>
    {% endif %}
    {% if witness.iiif_manifest %}
      <dt>{% translate "IIIF Manifest" %}</dt>
      <dd><a href="https://dishas.obspm.fr/alfa/mirador?manifest={{witness.iiif_manifest}}">{{witness.iiif_manifest}}</a></dd>
    {% endif %}
    <dt>{% translate "Databases" %}</dt>
    <dd>
      {% if not witness.dishas_id %}
        {% translate "No database link found" %}
        {% endif %}
        <ul>
          {% if witness.dishas_id %}
            <li>{% translate "Dishas' database identifier:"%} {{ witness.dishas_id }}</li>
          {% endif %}
        </ul>
    </dd>
    <dt>{% translate "Sources" %}</dt>
    <dd>{{ witness.data_sources | linebreaks }}</dd>
  </dl>

</section>
