{% load i18n %}
<table class="sortable">
  <tr>
    <th>{% translate "Pages" %}</th>
    <th>{% translate "Folio" %}</th>
    <th>{% translate "Original title" %}</th>
    <th>{% translate "Table type" %}</th>
    <th>{% translate "Astronomical object" %}</th>
  </tr>
  {% for table in witness.table_set.all %}
    <tr
      {% if table.table_type.astronomical_object and table.table_type.astronomical_object.color %}
        style="background-image:linear-gradient(270deg, {{ table.table_type.astronomical_object.color}} 0%, transparent 10%)"
      {% endif %}>
      <td {% if table.page_start %}sorttable_customkey="{{table.page_start}}"{% elif table.page_end %}sorttable_custum_key="{{table.page_end}}"{% endif %}>
        {% if table.page_start or table.page_end %}
          {% if table.witness.iiif_manifest %}
            <a href="{% url 'edition:table' table.id %}">
          {% endif %}
          {% if table.page_start and table.page_end and not table.page_start == table.page_end %}
            pp.
          {% else %}
            p.
          {% endif %}
          {% if table.page_start %}
            {{ table.page_start }}
          {% endif %}
          {% if table.page_end and not table.page_start == table.page_end %}
            - {{ table.page_end }}
          {% endif %}
          {% if table.witness.iiif_manifest %}
            </a>
          {% endif %}
        {% endif %}
      </td>
      <td {% if table.folio_start %}sorttable_customkey="{{table.folio_start}}"{% elif table.folio_end %}sorttable_custum_key="{{table.folio_end}}"{% endif %}>
        {% if table.folio_start or table.folio_end %}
          {% if table.witness.iiif_manifest %}
            <a href="{% url 'edition:table' table.id %}">
          {% endif %}
          {% if table.folio_start and table.folio_end and not table.folio_start == table.folio_end%}
            ff.
          {% else %}
            f.
          {% endif %}
          {% if table.folio_start %}
            {{ table.folio_start }}
          {% endif %}
          {% if table.folio_end and not table.folio_start == table.folio_end%}
            - {{ table.folio_end }}
          {% endif %}
          {% if table.witness.iiif_manifest %}
            </a>
          {% endif %}
        {% endif %}
      </td>
      <td>
        <a href="{% url 'edition:table' table.id %}">
          {{ table.original_title }}
        </a>
      </td>
      <td>
        {{ table.table_type.get_name }}
      </td>
      <td>
        {{ table.table_type.astronomical_object }}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan=5>
      <a class="btn" href="{% url 'admin:edition_table_add' %}?witness={{ witness.id }}">
        {% translate "Add a new table" %}
      </a>
    </td>
  </tr>
</table>
