{% load i18n %}
<ul>
  {% for witness in title.witnesses.all %}
    <li>
      <hr>
      <small class="tag">{{ witness.table_set.count }}</small>
      {% include 'source_materials/part/witness_element.html' with witness=witness link_to="edition" %}
      <!--
      {% include 'edition/part/list_tables_for_witness.html' with witness=witness %}
      -->
    </li>
  {% endfor %}
</ul>
