{% load i18n %}

<section class="details">
  <h3>{% translate "Details" %}</h3>
  <dl>
    <dt>{% translate "From the Title" %}</dt>
    <dd>{% include "works/part/title_element.html" with title=table.witness.title %}</dd>
    <dt>{% translate "Source" %}</dt>
    <dd>{{ table.witness }}</dd>
    <dt>{% translate "Table type" %}</dt>
    <dd>
      {% if table.table_type %}
        <em>
          {{ table.table_type }}
        </em>
        <br/>
        {{ table.table_type.definition }}
      {% else %}
        <em>
          {% translate "No table type defined" %}
        </em>
      {% endif %}
    </dd>
    {% if table.original_title %}
      <dt>{% translate "Original title of the table" %}</dt>
      <dd>{{ table.original_title }}</dd>
    {% endif %}
    <dt>{% translate "Pages" %}</dt>
    <dd>
      {{ table.page_start }}{% if table.page_end != table.page_start %}-{{ table.page_end }}{% endif %}
      {% if table.folio_start or table.folio_end %}
        ({{ table.folio_start }}
        {% if table.folio_start != table.folio_end %}
          - {{ table.folio_end }}{% endif %})
        {% endif %}
    </dd>
    {% if table.notes %}
      <dt>{% translate "Notes about this table" %}</dt>
      <dd>{{ table.notes|linebreaks }}</dd>
    {% endif %}
  </dl>
</section>
