<ul>
  {% for corpus in corpuses_list %}
  <li>
	<h2><a href="{% url 'works:corpus' corpus.id %}">{{ corpus.name }}</a></h2>
	{% include "edition/part/witnesses_list_by_title.html" with corpus=corpus %}
  </li>
  {% endfor %}
  {% if alone_titles %}
  <li>
	<h2>Titles without category</h2>
	<ul>
	  {% for title in alone_titles %}
	  {% include "works/part/title_name.html" with title=title %}
	  {% include "edition/part/witnesses_list.html" with title=title %}
	  {% endfor %}
	</ul>
  </li>
  {% endif %}
</ul>
