:root {
	/* Colors from https://color.adobe.com */
	--primary-color: #0800F5;
	--complementary-color: #F6C43E;
	--secondary-color: #7813C2;
	--secondary-variant: #6B398F;
	--complementary-second: #C28213;

	/* Contrasts */
	--light: #F1F1F1;
	--dark: #0F0510;
	--legible-on-primary: var(--light);
	--legible-on-complementary: var(--dark);
	--legible-on-secondary: var(--light);

	--link-color: var(--secondary-color);

	/* Contextual variables */
	--background: var(--light);
	--foreground: var(--dark);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

body {
	margin: 0;
	background-color: var(--background);
	color: var(--dark);
}
header, footer {
	--background: var(--primary-color);
	--foreground: var(--legible-on-primary);
	--link-color: var(--complementary-color);
	display: flex;
	background-color: var(--background);
	color: var(--foreground);
	padding: 30px;
}
footer {
	justify-content: space-around;
}
header {
	justify-content: space-between;
}
main {
	padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: sans;
}

.btn {
	color: var(--legible-on-secondary);
	background-color: var(--secondary-color);
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	margin: 0 5px;
}
.btn:focus {
	color: var(--secondary-color);
	background-color: var(--legible-on-secondary);
	border: 1px solid var(--legible-on-secondary);
}
.tag {
	color: var(--legible-on-primary);
	background-color: var(--primary-color);
	font-size: 10pt;
	display: inline-block;
	padding: 3px;
	border-radius: 3px;
	text-decoration: none;
}
.tag:focus {
	color: var(--primary-color);
	background-color: var(--legible-on-primary);
}

.details {
	--background: var(--complementary-color);
	--foreground: var(--legible-on-complementary);
	background-color: var(--background);
	border: 1px solid var(--foreground);
	color: var(--foreground);
	border-radius: 5px;
	padding: 10px 30px;
	margin: 20px;
	margin-top: 5px;
}

.compare {
	--background: var(--secondary-variant);
	--foreground: var(--legible-on-secondary);
	--link-color: var(--complementary-color);
	background-color: var(--background);
	color: var(--foreground);
	display: flex;
	margin: 15px;
	padding: 15px;
	border-radius: 20px;
}
.compare aside {
	width: 50%;
	padding: 15px;
}
.compare aside:first-child {
	border-right: 1px solid var(--foreground);
}
.compare img {
	width: 100%;
	border-radius: 15px;
	margin-top: 15px;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid var(--foreground);
	padding: 5px;
}

.notes {
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid var(--foreground);
}

dt {
	font-weight: bold;
}
