{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Tables by corpus" %}{% endblock %}
{% block page_title %}{% translate "Tables by corpus" %}{% endblock %}

{% block content %}
  <ol>
    {% for corpus in corpuses_list %}
      <li>
        <h2>
          <a href="{% url 'edition:corpus_index' corpus.id %}">{{ corpus }}</a>
        </h2>
      </li>
    {% endfor %}
    <li>
      <h2>
        <a href="{% url 'edition:orphans_index' %}">{% translate "Orphan titles" %}</a>
      </h2>
    </li>
  </ol>
{% endblock %}
