{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% blocktranslate with corpus_name=corpus_name %}List of tables in the {{corpus_name }} corpus{% endblocktranslate %}
{% endblock %}
{% block page_title %}
  {% blocktranslate with corpus_name=corpus_name %}List of tables in the {{corpus_name }} corpus{% endblocktranslate %}
{% endblock %}
{% block nav %}
  <a class="btn" href="{% url 'edition:index' %}">{% translate "Back to the list of corpuses" %}</a>
{% endblock %}
{% block content %}
  <ol>
    {% for title in titles_list.all %}
      <li>
        <hr>
        {% include 'works/part/title_element.html' with title=title %}
        {% include 'edition/part/list_tables_for_title.html' with title=title %}
      </li>
    {% endfor %}
  </ol>
{% endblock %}
