{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ table }}{% endblock %}
{% block page_title %}{{ table }}{% endblock %}

{% block nav %}
  <a class="btn" href="{% url 'edition:witness' table.witness.id %}">{% translate "Table of content" %}</a>
{% endblock %}

{% block content %}
  {% if previous_table %}
    <a class="btn" href="{% url 'edition:table' previous_table.id %}">
      {% translate "Previous table" %}
    </a>
  {% else %}
    <em>{% translate "First table" %}</em>
  {% endif %}
  {% if next_table %}
    <a class="btn" href="{% url 'edition:table' next_table.id %}">
      {% translate "Next table" %}
    </a>
  {% else %}
    <em>{% translate "Last table" %}</em>
  {% endif %}
  <a class="btn" href="{% url 'admin:edition_table_add' %}?witness={{ table.witness.id }}">
    {% translate "Add a new table" %}
  </a>

  {% include 'edition/part/table_detail.html' with table=table %}

{% if table.get_images_url %}
  <form action="{% url 'edition:compare-tables' table.id %}" method="get">
    <select name="to">
      {% for other in other_tables %}
        <option value="{{other.id}}">p.{{ other.page_start }} - {{ other.witness }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="{% translate 'compare' %}">
  </form>
  <section class="compare">
    <aside>
      <h3>{% translate "Scanned pages" %}</h3>
      {% for image in table.get_images_url %}
        <img src="{{image}}" alt="{% translate 'Scanned pages' %}"/>
      {% endfor %}
    </aside>
    <aside>
      <h3>{% translate "Table type:" %} {{table.table_type}}</h3>
      {% include 'astronomical_contents/table_exemple.html' with tabletype=table.table_type %}
    </aside>
  </section>
{% elif table.table_type and table.table_type.table_edition %}
  <section>
      <h3>{% translate "Table type:" %} {{table.table_type}}</h3>
      {% include 'astronomical_contents/table_exemple.html' with tabletype=table.table_type %}
  </section>
{% endif %}

  {% if previous_table %}
  <a class="btn" href="{% url 'edition:table' previous_table.id %}">
    {% translate "Previous table" %}
  </a>
{% endif %}
{% if next_table %}
  <a class="btn" href="{% url 'edition:table' next_table.id %}">
    {% translate "Next table" %}
  </a>
  {% endif %}
{% endblock %}
