{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ table }} - {{ compare }}{% endblock %}
{% block page_title %}{{ table }} - {{ compare }}{% endblock %}

{% block nav %}
  <a class="btn" href="{% url 'edition:table' table.id %}">{% translate "Return to table" %}</a>
{% endblock %}

{% block content %}
  <section class="compare">
    <aside>
      <h3>
        <em>{{ table.witness }}</em>,
        f.{{ table.folio_start }}-{{ table.folio_end }} : {{ table.table_type }}
      </h3>
      <a href="{% url 'edition:table' table.id %}">{% translate "See details" %}</a>
      <p>
        <em>{% include 'works/part/title_element.html' with title=table.witness.title %}</em>
      </p>
{% for image in table.get_images_url %}
  <img src="{{image}}" alt="{% translate 'Scanned pages' %}"/>
{% endfor %}
</aside>
<aside>
  {% if compare %}
    <h3>
      <em>{{ compare.witness }}</em>
      f.{{ compare.folio_start }}-{{ compare.folio_end }} : {{ compare.table_type }}
    </h3>
    <a href="{% url 'edition:table' compare.id %}">{% translate "See details" %}</a>
    <p>
      <em>{% include 'works/part/title_element.html' with title=compare.witness.title %}</em>
      </p>
    {% for image in compare.get_images_url %}
      <img src="{{image}}" alt="{% translate 'Scanned pages' %}"/>
    {% endfor %}
  {% else %}
    <form action="" method="get">
      <select name="to">
        {% for other in other_tables %}
          <option value="{{other.id}}">p.{{ other.page_start }} - {{ other.witness }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="{% translate 'compare' %}">
    </form>
  {% endif %}
</aside>
</section>
{% endblock %}
