{% if witness.library %}
{% include 'source_materials/library_name.html' with library=witness.library %}
{% if witness.shelf_mark %}
Shelf mark {{ self.witness_mark }}
{% endif %}
{% endif %}
{% if witness.get_link %}
<a href="{{ witness.get_link }}">
  {% if witness.iiif_manifest %}
  IIIF Manifest
  {% elif witness.url %}
  URL
  {% else %}
  URN
  {% endif %}
</a>
{% endif %}
<a href="{% url 'edition:witness' witness.id %}">&gt&gtDetails</a>
