{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ first_witness }} - {{ second_witness }}{% endblock %}
{% block page_title %}{% translate "Compare" %}{% endblock %}

{% block nav %}
  <a class="btn" href="{% url 'edition:witness' first_witness.id %}">{% translate "Return to source" %}</a>
{% endblock %}

{% block content %}
  <section class="compare">
    <aside>
      <h3>
        <em>{{ first_witness }}</em>,
      </h3>
      <a href="{% url 'edition:witness' first_witness.id %}">{% translate "See details" %}</a>
      <p>
        <em>{% include 'works/part/title_element.html' with title=first_witness.title %}</em>
      </p>
      {% include 'edition/part/list_tables_for_witness.html' with witness=first_witness %}
</aside>
<aside>
    <h3>
      <em>{{ second_witness }}</em>
    </h3>
    <a href="{% url 'edition:witness' second_witness.id %}">{% translate "See details" %}</a>
    <p>
      <em>{% include 'works/part/title_element.html' with title=second_witness.title %}</em>
    </p>
    {% include 'edition/part/list_tables_for_witness.html' with witness=second_witness %}
</aside>
</section>
{% endblock %}
