{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ witness }} | {{ witness.title }}{% endblock %}
{% block page_title %}{{ witness }}{% endblock %}

{% block nav %}
  <a class="btn" href="{% url 'edition:index' %}">{% translate "Back to index" %}</a>
{% endblock %}

{% block content %}

  {% include 'source_materials/part/witness_detail.html' with witness=witness %}
  <article>
    <header>
      <h2>{% translate "List of tables in this book" %}</h2>
      <a class="btn"
         href="{% url 'admin:edition_table_add' %}?witness={{ witness.id }}">
         {% translate "Add a new table" %}
      </a>
    </header>
    {% include 'edition/part/list_tables_for_witness.html' with witness=witness %}
  </article>
{% endblock %}
