{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{% translate "Witnesses of a title" %}{% endblock %}

{% block nav %}
  <a href="{% url 'sources:index' %}">Go back to the list</a>
{% endblock %}

{% block content %}

  {% include 'works/part/title_detail.html' with title=title %}
  <article>
    <header>
      <h2>{% translate "List of witnesses of this title" %}</h2>
      <a class="btn"
         href="{% url 'admin:source_materials_witness_add' %}?title={{ title.id }}">
         {% translate "Add a new witness" %}
      </a>
    </header>
    <ul>
      {% for witness in title.witnesses.all %}
        <li>{% include 'source_materials/part/witness_element.html' %}</li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}
