<ul>
  {% for title in corpus.titles.all %}
  <li>
	{% include "works/title_name.html" with title=title title_url=title_url %}
	{% include "source_materials/witnesses_list.html" with title=title %}
  </li>
  {% endfor %}
</ul>
